{% extends "EmagUserBundle::base.html.twig" %}

{% block body %}
    <div class="ui one column stackable center aligned page grid">
        <div class="column twelve wide">
            <div class="ui segment">
                <div class="ui form">
                    <div class="field">
                        <label>Username</label>
                        <div class="ui left icon input">
                            <input type="text" placeholder="Username">
                            <i class="user icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <div class="ui left icon input">
                            <input type="password">
                            <i class="lock icon"></i>
                        </div>
                    </div>
                    <div class="ui blue submit button">Connexion</div>
                </div>
                <div class="ui horizontal divider">
                    Ou
                </div>
                <div class="ui big green labeled icon button">
                    <i class="signup icon"></i>
                    S'inscrire
                </div>
            </div>
        </div>
    </div>
{% endblock %}
